.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-link {
  position: relative;
}

.navbar-link.active::after {
  content: "";
  position: absolute;
  background-color: rgb(76, 137, 151);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-bottom: -10px;
  left: 50%;
  bottom: 0;
}

.header {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #0a1725,
    #060e1a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #0a1725,
    #060e1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.heroImage {
  height: 80vh;
  border-top-left-radius: 150px;
}
